header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 22px 15%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
}

header.sticky {
    background: var(--gs-color-gray);
    border-bottom: 1px solid #ffffff1a;
    padding: 12px 15%;
    height: 10vh;
}

header span{
    color: var(--gs-color-primary);
}

.logo {
    color: var(--gs-color-black);
    font-size: 35px;
    font-weight: 800;
    letter-spacing: 1px;
    text-decoration: none;
}

.navlist{
    display: flex;
}


.navlist li{
    list-style: none;
}

.navlist a{
    color: var(--gs-color-black);
    font-size: 17px;
    font-weight: 600;
    margin: 0 25px;
    transition: all .45s ease;
    text-decoration: none;
}

.navlist a:hover{
    color: var(--gs-color-primary);
}

.navlist a.active{
    color: var(--gs-color-primary);
}

#menu-icon{
    font-size: 35px;
    color: var(--gs-color-black);
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}

@media (max-width: 1380px){
    header{
        padding: 12px 2.5%;
        transition: .1s;
    }

    header.sticky{
        padding: 10px 2.5%;
        transition: .1s;
    }
}

@media (max-width: 800px){

    #menu-icon{
        display: block;
    }

    .navlist{
        position: absolute;
        top: -1000px;
        right: 0;
        left: 0;
        height: 90vh;
        display: flex;
        flex-direction: column;
        background: var(--gs-color-gray);
        text-align: center;
        justify-content: center;
        transition: all .45s ease;
    }

    .navlist a{
        display: block;
        margin: 17px;
        font-size: 20px;
        transition: all .45s ease;
        color: var(--text-color);
    }

    .navlist a:hover{
        color: var(--main-color);
    }

    .navlist.open{
        top: 100%
    }
}