.gs-header{
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: var(--gs-header-size);
    background-color: var(--gs-color-gray);
    display: flex;
}


.header-content{
    width: 100%;
    padding: 5px 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content > .name > .name1 {
    font-weight: 800;
    color: var(--gs-color-primary);
    font-size: 1.8rem;
}

.header-content > .name > .name2 {
    font-weight: 800;
    color: var(--gs-color-black);
    font-size: 1.8rem;
}

.navbar > .nav-links{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
}

.navbar > .nav-links > a{
    text-decoration: none;
    color: var(--gs-color-black);
    font-weight: 600;
    font-size: 18px;
    transition: all ease 0.5s;
}

.navbar > .nav-links > a:hover{
    color: var(--gs-color-primary);
}