header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 22px 15%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
}

header.sticky {
    background: var(--gs-color-gray);
    border-bottom: 1px solid #ffffff1a;
    padding: 12px 15%;
    height: 10vh;
}

header span{
    color: var(--gs-color-primary);
}

.logo {
    color: var(--text-color);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
}

.navlist {
    display: flex;
}


#menu-icon {
    font-size: 35px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}

.navlist a {
    color: var(--gs-color-black);
    font-size: 17px;
    font-weight: 600;
    margin: 0 25px;
    transition: all .45s ease;
    text-decoration: none;
}

.navlist li {
    list-style: none;
}