.gs-sections{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.gs-sections section{
    padding: 160px 5% 120px;
}

@media (max-width: 1480px) {
    section {
        padding: 110px 3% 60px;
    }
}

@media (max-width: 1380px){
    section{
        padding: 110px 3% 60px;
    }
}