.end {
    padding: 20px !important;
    background-color: var(--darkreader-bg--bg-color, #181a1b);
}
@media (max-width: 1480px) {
    .end {
        padding: 15px 3%;
    }
}
.end {
    letter-spacing: 1px;
    text-align: center;
    padding: 20px 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--bg-color);
}
@media (max-width: 1480px) {
    section {
        padding: 110px 3% 60px;
    }
}


.last-text p {
    color: var(--gs-color-black);
    font-size: 1.1rem;
}