.end {
    padding: 20px !important;
}

.end {
    letter-spacing: 1px;
    text-align: center;
    padding: 20px 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--gs-color-gray);
}

.last-text p {
    color: var(--gs-color-black);
    font-size: 1.1rem;
}

@media (max-width: 1480px) {
    .end {
        padding: 15px 3%;
    }
}

@media (max-width: 1380px){
    .end{
        padding: 15px 3%;
    }
}